.heroSection{
    height: fit-content;
    padding-inline: 32px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.heroSection::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}
.trendingNow{
    display: flex;
    align-items: center;
    background-color: #e7000bcc;
    padding: 8px 16px;
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    z-index: 4;
    gap: 8px;
    border-radius: 50px;
}
.heroSection .trendingNow p{
    font-size: 14px;
    font-weight: 600;
}
.h1p{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    
}
.h1p a{
    text-decoration: none;
    color: #ffffff;
}
.heroSection h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 24px;
}
.heroSection h1:hover{
    color: #fb2c36;
}
.heroSection p{
    color: #d1d5dc;
    font-size: 20px;
    line-height: 1.625;
}
button{
    cursor: pointer;
}
.heroSection button{
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.browseAndSign{
    display: flex;
    gap: 16px;
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
}
.browseAndSign .browseButton{
    background-color: #e7000b;
    display: flex;
    gap: 8px;
    align-items: center;
}
.browseAndSign .browseButton:hover{
    background-color: #c10007;
}
.browseButton:hover .playbutton{
    transform: scale(1.1);
}
.browseAndSign .signButton{
    background-color: #ffffff33;
    display: flex;
    gap: 8px;
    align-items: center;
}
.browseAndSign .signButton:hover{
    backdrop-filter: blur(8px);
}
.playbutton{
    transition: transform 0.3s ease;
}
.playbutton, .shoppingbag{
    font-size: 20px;
}
.browseAndSign a{
    text-decoration: none;
}

@media (max-width: 900px){
    .heroSection{
        padding-inline: 24px;
    }
    .heroSection h1{
        font-size: 48px;
    }
}

@media (max-width: 480px) {
    .heroSection{
        padding-inline: 16px;
    }
    .browseAndSign{
        flex-direction: column;
    }
    .browseAndSign .signButton{
        width: fit-content;
    }
}